<%

helper = {
    dateToLocaleString: (date) => (new Date(date)).toLocaleString('zh-TW', {timeZone: 'Asia/Taipei'}),
    scheduleToString: (schedule) => {
        // switch (schedule) {
        //     case '1m':
        //         return 'every mins';
        //     case '15m':
        //         return 'every 15 mins';
        //     case '30m':
        //         return 'every 30 mins';
        //     case '1h':
        //         return 'every hour';
        // }
        switch (schedule) {
            case 1:
                return 'every mins';
            case 60:
                return 'every hour';
            default:
                return `every ${schedule} mins`;
        }
    }
};

%>