<%- include('partials/helper.ejs') %>
<%- include('partials/head.ejs', {title: '題目列表'}) %>
<body>
    <style type="text/css">
        .segment {
            max-width: 300px;
        }
    </style>
    <div class="ts narrow container">
        <br>
        <br>

        <div class="ts centered secondary segment">
            <form class="ts form" method="POST">
                <div class="field">
                    <input type="text" name="username" value="cyku" placeholder="">
                </div>
                <div class="field">
                    <input type="password" name="password" value="123456" placeholder="">
                </div>
                <button type="submit" class="ts positive fluid button">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>