<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: '新增題目'}) %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="ts narrow container">
        <h3 class="ts header">
            新增題目
        </h3>

        <form class="ts relaxed form" action="/challenge/add" method="POST">
            <div class="field">
                <label>名稱</label>
                <input type="text" name="name" value="" placeholder="題目名稱，建議格式「[Category] Name」">
            </div>
            <div class="field">
                <label>隊伍 (目標) 列表</label>
                <textarea name="targets" cols="30" rows="10" placeholder="# team_id    team_name    host    port&#10;&#10;0    10sec    127.0.0.1    22"></textarea>
            </div>
            <button class="ts fluid positive button" type="submit">送出</button>
        </form>
    </div>
</body>
</html>