<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: `${attack.name} 的過去攻擊歷史記錄`}) %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <script>
        var switchHideState = function(id) {
            let elem = document.getElementById(id);
            if (elem.classList.contains('hide')) {
                elem.classList.remove('hide');
            } else {
                elem.classList.add('hide');
            }
        };
        
        var hideAll = function() {
            document.querySelectorAll('tr[id^="result-detail-"]').forEach(function(elem) {
                elem.classList.contains('hide') || elem.classList.add('hide');
            });
        };
    </script>
    <style>
        .hide {
            display: none;
        }
    </style>

    <div class="ts narrow container">
        <div class="ts fitted secondary menu">
            <div class="item">
                <h3 class="ts header">
                    <%=attack.name %> 的過去攻擊歷史記錄
                </h3>
            </div>
        </div>
        <div>
            <p>目前伺服器時間：<%=helper.dateToLocaleString(new Date()) %></p>
        </div>
        <table class="ts celled striped selectable table">
            <thead>
                <tr>
                    <th>History ID</th>
                    <th>攻擊時間</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i in histories) { %>
                    <% 
                        let history = histories[i];
                    %>
                    <tr>
                        <td><a href="/history/<%=history.id %>" target="_blank"><%=history.id %></a></td>
                        <td><%=helper.dateToLocaleString(history.attackTime) %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>
</html>