<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: '攻擊排程列表'}) %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <script>
        var switchHideState = function(id) {
            let elem = document.getElementById(id);
            if (elem.classList.contains('hide')) {
                elem.classList.remove('hide');
            } else {
                elem.classList.add('hide');
            }
        };
    </script>
    <style>
        .hide {
            display: none;
        }
    </style>

    <div class="ts narrow container">
        <div class="ts fitted secondary menu">
            <div class="item">
                <h3 class="ts header">
                    攻擊排程列表
                </h3>
            </div>
            <div class="right menu">
                <div class="ts buttons">
                    <button class="ts small positive button" onclick="location = '/attack/add'">新增攻擊排程</button>
                    <div class="or" data-text="Or"></div>
                    <button class="ts small primary button" onclick="location.reload()">
                        <i class="refresh icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <p>目前伺服器時間：<%=helper.dateToLocaleString(new Date()) %></p>
        </div>
        <table class="ts celled striped selectable table">
            <thead>
                <tr>
                    <th>名稱</th>
                    <th>排程</th>
                    <th>狀態</th>
                    <th>上次執行時間</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i in attacks) { %>
                    <% 
                        let attack = attacks[i];
                    %>
                    <tr style="cursor: pointer;" onclick="switchHideState('attack-detail-<%=attack.id %>');">
                        <td><%=attack.name %></td>
                        <td><%=helper.scheduleToString(attack.schedule) %></td>
                        <td>Running</td>
                        <td><%=attack.lastAttack && attack.lastAttack.attackTime
                                ? helper.dateToLocaleString(attack.lastAttack.attackTime)
                                : '尚未執行過' %></td>
                    </tr>
                    <tr id="attack-detail-<%=attack.id %>" class="hide">
                        <td colspan="4">
                            <div class="center aligned padded content">
                                <div class="ts buttons">
                                    <!-- <button class="ts negative button"><i class="pause icon"></i>暫停</button> -->
                                    <button class="ts positive button"><i class="play icon"></i>執行</button>
                                    <a class="ts primary button" href="/attack/<%=attack.id %>">修改</a>
                                    <a class="ts inverted button" href="/attack/<%=attack.id %>/history">歷史記錄</a>
                                    <button class="ts negative button">刪除</button>
                                </div>
                            </div>
                            <hr />
                            <br />
                            <% if (attack.lastAttack) { %>
                            <div class="ts sixteen column very narrow container grid">
                                <h4 style="font-weight: bolder">執行結果</h4>
                                <table class="ts very basic table">
                                    <thead>
                                        <tr>
                                            <th>隊伍名稱</th>
                                            <th>FLAG</th>
                                            <th>開始時間</th>
                                            <th>結束時間</th>
                                            <th>狀態碼</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% results = attack.lastAttack.results %>
                                    <% for (let j in results) { %>
                                        <% 
                                            let result = results[j];
                                        %>
                                        <tr>
                                            <td><%=result.teamName %></td>
                                            <td><%=result.flag %></td>
                                            <td><%=helper.dateToLocaleString(result.startTime) %></td>
                                            <td><%=helper.dateToLocaleString(result.finishTime) %></td>
                                            <td><%=result.code %></td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="ts secondary fitted menu">
                                <div class="right menu">
                                    <a href="/history/<%=attack.lastAttack.id %>" target="_blank">點我看更多資訊</a>
                                </div>
                            </div>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>

</body>
</html>