<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: '修改攻擊排程'}) %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="ts narrow container">
        <h3 class="ts header">
            修改攻擊排程
        </h3>

        <form class="ts form" action="/attack/<%=attack.id %>" method="POST">
            <div class="field">
                <label>排程名稱</label>
                <input type="text" name="name" value="<%=attack.name %>" required>
            </div>
            <div class="field">
                <label>要攻擊的題目(隊伍)</label>
                <div class="ts relaxed fluid separated dropdowns">
                    <select name="challengeId" required>
                        <% for (let i in challenges) { %>
                            <% let challenge = challenges[i]; %>
                            <option <%=attack.challengeId === challenge.id ? 'selected' : '' %> value="<%=challenge.id %>"><%=challenge.name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>排程 (每 N 分鐘執行一次，1 &lt;= N &lt;= 60)</label>
                <input name="schedule" type="number" min="1" max="60" value="1" /> 
            </div>
            <div class="field">
                <label>攻擊腳本使用的語言</label>
                <div class="ts relaxed fluid separated dropdowns">
                    <select name="language" required>
                        <% let languages = {python3: 'Python 3', 'python2': 'Python 2'}; %>
                        <% for (key in languages) { %>
                            <option value="<%=key %>" <%=attack.language === key ? 'selected' : '' %>><%=languages[key] %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>攻擊腳本</label>
                <div class="ts relaxed fluid separated dropdowns">
                    <textarea name="exploit" cols="50" rows="30" required placeholder="from pwn import *&#10;&#10;r = remote('localhost',22) #Hacked"><%=attack.exploit %></textarea>
                </div>
            </div>
            <button class="ts fluid positive button" type="submit">送出</button>
        </form>
    </div>
</body>
</html>