<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: '修改攻擊排程'}) %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="ts narrow container">
        <h3 class="ts header">
            修改攻擊排程
        </h3>

        <div class="ts positive message">
            <div class="header">成功修改排程！</div>
        </div>
        <button onclick="location = '/'" class="ts fluid positive button" type="button"><i class="reply icon"></i>回到列表</button>
        <br /><br />
        <img class="ts centered image" src="/static/el_psy_congroo.jpg" />
    </div>
</body>